[Unit]
Description=Big Data Use Case
After=network.target

[Service]
User=spark
ExecStart=/usr/bin/spark-submit --name "${app-name}" --master yarn --deploy-mode cluster "/opt/${app-name}/${app-name}.jar"
ExecStopPost=/etc/systemd/system/bigdata-stop.sh "${app-name}"
Restart=always

[Install]
WantedBy=multi-user.target

